.fish {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: lightseagreen;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  text-align: center;
  image-rendering: auto;
}

/*.tanktips {
  border: 2px solid;
  position: absolute;
  right: 0;
  width: 200px;
  font-size: small;
  margin: 10px;
  text-align: left;
  padding: 10%;
}*/

/*h4 {
  padding: 0;
  margin: 10px;
  text-align: center;
}*/

.marloninfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.lawnmowerinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.markinfo {
  display: flex;
  flex-direction: column;
}

.francheskainfo {
  display: flex;
  flex-direction: column;
}

.sunnyinfo {
  display: flex;
  flex-direction: column;
}

