body {
  background-color: lightseagreen;
}

h1 {
  text-align: center;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #322229;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav li, a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 11px 10px;
  text-decoration: none;
  font-size: 17px;
}

li {
  list-style-type: none;
 margin: 0;
 padding: 0;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  border: 1px solid black;
 }

/*.fish {
  display: flex;
  border: solid;
  flex-direction: row;
}
.fishbox {
  border: 1px solid black;
  margin: 1em;
  display: flex;
}*/


.fishpics {
  margin: 2px;
  height: 100px;
  width: 100px;
}

.fishinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.quotes {
  border: solid 2px;
  font-size: 13px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.locationinfo {
  display: flex;
  border: solid 2px;
  margin: 5px;
  font-size: 13px;
  padding: 3px;
}

.tankinfo {
  display: flex;
  flex-direction: column-reverse;
  justify-content: right;
}

/*.box {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;
}
.box div {
  width: 100px;
  height: 100px
};*/

