body {
  background-color: lightseagreen;
}

h1 {
  text-align: center;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #322229;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav ul, a {
  float: left;
  color: #f2f2f2;
  padding: 11px 10px;
  justify-content: center;
  text-decoration: none;
  font-size: 17px;
}

li {
  list-style-type: none;
 margin: 0;
 padding: 0;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


.fish__image {
  max-width: 22rem;
  max-height: 11rem;
}
.fishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4rem;
}
.fish {
  margin: 1rem;
  text-align: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
}
.fish__name-text {
  /* color: #FF5733; */
  color: black;
}

.quotes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 3em;
}

.locationinfo {
  display: flex;
  border: solid 2px;
  margin: 5px;
  font-size: 13px;
  padding: 3px;
}

.tankinfo {
  display: flex;
  flex-direction: column-reverse;
  justify-content: right;
}

.tipsHeader {
  text-align: center;
}
.tips {
  margin-right: 4em;
  margin-left: 4em;
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
}

.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.location {
  margin: 1rem;
  text-align: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}